@charset "utf-8";
/* jnet button style ver:1.0 */

.btnGroup {overflow:hidden; position:relative; margin:20px auto;}
.btnGroup:after {content:""; display:block; clear:both;}

.btn {display:inline-block; overflow:hidden; margin:0 3px; text-align:center; border-radius:4px; vertical-align:middle; box-sizing:border-box;}
.btn a {display:inline-block; padding:8px 25px; font-size:14px; line-height:20px; background-color:#e9e9e9;}

/* button type - icon */
.btn.down a {padding:8px 15px; padding-left:37px; background:url(/include/image/button/ico_down.png) 15px 50% no-repeat;}
.btn.write a {padding:8px 15px; padding-left:41px; background:url(/include/image/button/ico_write.png) 15px 50% no-repeat;}
.btn.attach a {padding:8px 15px; padding-left:37px; background:url(/include/image/button/ico_attach.png) 15px 50% no-repeat;}
.btn.view a {padding:8px 15px; padding-left:32px; background:url(/include/image/button/ico_view.png) 15px 50% no-repeat;}
.btn.go a {padding:8px 15px; padding-left:38px; background:url(/include/image/button/ico_go.png) 15px 50% no-repeat;}
.btn.search a {padding:8px 15px; padding-left:37px; background:url(/include/image/button/ico_search.png) 15px 50% no-repeat;}
.btn.print a {padding:8px 15px; padding-left:36px; background:url(/include/image/button/ico_print.png) 15px 50% no-repeat;}

/* button type - size */
.btn.full {display:block; margin:0;}
.btn.full a {display:block;}
.btn.wide a {padding:15px 40px; font-weight:500; font-size:1.154em;}
.btn.large a {padding:20px 50px; font-weight:500; font-size:1.538em; border-radius:10px;}
.btn.small a {padding:5px; font-size:0.923em;}
.sizeinBoard {vertical-align:middle; border-radius:0;}
.sizeinBoard a,.sizeinBoardInput {display:inline-block; min-width:40px; padding:0 5px; line-height:28px; text-align:center;}
.sizeSmallInput {display:inline-block; padding:0 7px; font-weight:500; font-size:0.923em; border-radius:0;}

/* button type - color */
.themeBtn a,.themeBtn span,.themeBtnDark a,.themeBtnLight a {color:#fff;}
.btn.ok a,.btn.gray a,.tblBtn.gray a {color:#fff; background-color:#666;} /*확인/긍정적*/
.btn.cncl a,.btn.white a,.tblBtn.white a {line-height:18px; border-radius:4px; border:1px solid #d9d9d9; background-color:#fff;} /*취소/부정적*/
.btn.del a,.btn.red a,.tblBtn.red a {color:#fff; background-color:#ad0000;} /*삭제/위험요소*/
.btn.blue a,.tblBtn.blue a {color:#fff; background-color:#0066ae;}
.btn.green a,.tblBtn.green a {color:#fff; background-color:#208a0d;}
.btn-link {color:#526CA5;}
.btn-link:hover,.btn-link:hover:focus {text-decoration:underline;}

/* table text Button or status buttton. use a or span*/
/* tB00 : active (darkgray) */
/* tB01 : theme color */
/* tB02 : theme color2 */
/* tB03 : ~ing (white) */
/* tB04 : success (pink) */
.tblBtn {display:inline-block; overflow:hidden; vertical-align:middle; border-radius:3px;}
.tblBtn a,.tblBtn span {display:inline-block; padding:0 7px; min-width:45px; line-height:22px; text-align:center; vertical-align:middle; border-radius:3px; background-color:#e9e9e9;}
.tB00 a,.tB00 span,.tB01 a,.tB01 span {color:#fff;}
.tB00 a,.tB00 span {background-color:#666;}
.tB03 a,.tB03 span {line-height:20px; border:1px solid #e2e2e2; background-color:#fff;}
.tB04 a,.tB04 span {color:#ff0c2e; line-height:20px; border:1px solid #ff0c2e; background-color:#fff;}

.btnSnsPrint a {display:inline-block; width:22px; line-height:22px; background:url(/includ/image/search/common/bg_print.png) 50% 50% no-repeat;}
.btnSnsTw a {display:inline-block; width:22px; line-height:22px; background:url(/includ/image/search/common/bg_snstw.png) 50% 50% no-repeat;}
.btnSnsFb a {display:inline-block; width:22px; line-height:22px; background:url(/includ/image/search/common/bg_snsfb.png) 50% 50% no-repeat;}

@media screen and (max-width:640px){
	.btnGroup .btn {margin-bottom:5px;}
	.btn.full a,.btn.wide a,.btn.large a {padding:10px 15px; font-size:1.077em;}
}
@media screen and (max-width:360px){
	.btnGroup .btn,.btnGroup .btn a {display:block;}
	.btnGroup .btn + .btn {margin-top:10px;}
}