@charset "utf-8";
/* CSS Document */
html {-ms-text-size-adjust:100%; -webkit-text-size-adjust:100%;}
body {font-weight:normal; font-size:13px; line-height:1.6; font-family:'Noto Sans KR','나눔고딕',NanumGothic,'맑은 고딕','Malgun Gothic','AppleGothic',serif;}
@font-face {font-family:'Noto Sans KR';font-weight:100;font-style:normal;src:url('/include/font/NotoSansKR-Thin.woff2') format('woff2'),url('/include/font/NotoSansKR-Thin.woff') format('woff'),url('/include/font/NotoSansKR-Thin.otf') format('opentype');}
@font-face {font-family:'Noto Sans KR';font-weight:normal;font-style:normal;src:url('/include/font/NotoSansKR-Light.woff2') format('woff2'),url('/include/font/NotoSansKR-Light.woff') format('woff'),url('/include/font/NotoSansKR-Light.otf') format('opentype');}
@font-face {font-family:'Noto Sans KR';font-weight:300;font-style:normal;src:url('/include/font/NotoSansKR-Regular.woff2') format('woff2'),url('/include/font/NotoSansKR-Regular.woff') format('woff'),url('/include/font/NotoSansKR-Regular.otf') format('opentype');}
@font-face {font-family:'Noto Sans KR';font-weight:500;font-style:normal;src:url('/include/font/NotoSansKR-Medium.woff2') format('woff2'),url('/include/font/NotoSansKR-Medium.woff') format('woff'),url('/include/font/NotoSansKR-Medium.otf') format('opentype');}
@font-face {font-family:'Noto Sans KR';font-weight:700;font-style:normal;src:url('/include/font/NotoSansKR-Bold.woff2') format('woff2'),url('/include/font/NotoSansKR-Bold.woff') format('woff'),url('/include/font/NotoSansKR-Bold.otf') format('opentype');}
html,body,div,span,iframe,p,h1,h2,h3,h4,h5,h6,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,input,textarea,button,select,table,th,td,article,aside,section,figure,figcaption,img,fieldset {margin:0; padding:0; border:0;}
table {width:100%; border-collapse:separate; border-spacing:0; font-size:inherit;}
th,td {font-size:inherit; line-height:inherit; word-break:normal;}
ol,ul {list-style:none;}
img {max-width:100%; max-height:100%;}
form {margin:0; padding:0}
a {text-decoration:none; color:inherit;}
address,cite,em {font-style:normal;}
h1,h2,h3,h4,h5,h6 {margin:0; padding:0; font-weight:500; font-size:inherit;}
strong,b {font-weight:500;}
caption,legend {visibility:hidden; overflow:hidden; width:0; height:0; line-height:0; text-indent:-9999em;}
input[type=image] {border:0 none}
input,textarea,select,optgroup,button {font-size:inherit; font-family:inherit; line-height:inherit;}
input,textarea {resize:none; border:1px solid #d9d9d9; border-radius:0; box-sizing:border-box; background:#fff;}
input[type=checkbox],input[type=radio] {margin:0 3px; padding:0; vertical-align:middle; border:1px solid #555; border-radius:0; box-sizing:border-box; background-color:#fff;}
input,img,select {vertical-align:middle;}
select {border:1px solid #d9d9d9; border-radius:0; box-sizing:border-box;}
button,input[type="button"],input[type="reset"],input[type="submit"] {overflow:visible; -webkit-appearance:button; cursor:pointer;}
button {display:inline-block; height:30px; padding:0 5px; color:#fff; vertical-align:middle; border:0; background-color:#888;}
.accessibility {overflow:hidden; position:absolute; width:100%;}
.accessibility a {position:absolute; top:-1000px; left:-1000px; z-index:9999; line-height:0;}
.accessibility a:hover,.accessibility a:active,.accessibility a:focus {display:block; position:relative; top:0; left:0; margin:0 30px; line-height:35px; color:#000; text-align:center; border:2px solid #333; border-top:0; border-radius:0 0 10px 10px; background-color:#fff;}
/*hidden*/
.clearfix:after {content:""; display:block; clear:both;}
.hidden {display:none}
.blind {overflow:hidden; position:absolute; top:-9999em; left:-9999em; width:1px; height:1px; line-height:1px; text-indent:-9999em;}
/*정렬*/
.fl {float:left !important;}
.fr {float:right !important;}
.clb {clear:both !important;}
.ta_c {text-align:center !important;}
.ta_l {text-align:left !important;}
.ta_r {text-align:right !important;}
.ta_j {text-align:justify !important;}
.fb {font-weight:600 !important;}
.fn {font-weight:normal !important;}
.u {text-decoration:underline;}
.va_m {vertical-align:middle;}
/* 강조색 */
.emp1 {color:#f40000 !important;} /*red*/
.emp2 {color:#ff6600 !important;} /*orange*/
.emp3 {color:#0459d7 !important;} /*blue*/
.emp4 {color:#ffffff !important;} /*withe*/
.emp5 {color:#000000 !important;} /*black*/
.emp6 {color:#666666 !important;} /*gray*/
.fnt10px {font-size:10px !important;}
.fnt11px {font-size:11px !important;}
.fnt13px {font-size:13px !important;}
.fnt14px {font-size:14px !important;}
.fnt15px {font-size:15px !important;}
.fnt16px {font-size:16px !important;}
/*margin*/
.mauto {margin:0 auto !important;}
.mg0 {margin:0 !important;}
.mt05 {margin-top:5px !important;}
.mt07 {margin-top:7px !important;}
.mt08 {margin-top:8px !important;}
.mt10 {margin-top:10px !important;}
.mt15 {margin-top:15px !important;}
.mt20 {margin-top:20px !important;}
.mt25 {margin-top:25px !important;}
.mt30 {margin-top:30px !important;}
.mt40 {margin-top:40px !important;}
.mt50 {margin-top:50px !important;}
.mt60 {margin-top:60px !important;}
.mr10 {margin-right:10px !important;}
.mr20 {margin-right:20px !important;}
.mr30 {margin-right:30px !important;}
.mr40 {margin-right:40px !important;}
.mb05 {margin-bottom:05px!important;}
.mb10 {margin-bottom:10px!important;}
.mb15 {margin-bottom:15px!important;}
.mb20 {margin-bottom:20px !important;}
.mb25 {margin-bottom:25px !important;}
.mb30 {margin-bottom:30px !important;}
.mb40 {margin-bottom:40px !important;}
.mb50 {margin-bottom:50px !important;}
.mb60 {margin-bottom:60px !important;}
.ml0 {margin-left:0 !important;}
.ml05 {margin-left:5px !important;}
.ml10 {margin-left:10px !important;}
.ml15 {margin-left:15px !important;}
.ml20 {margin-left:20px !important;}
.ml30 {margin-left:30px !important;}
.ml40 {margin-left:40px !important;}
/*padding*/
.pd0 {padding:0 !important;}
.pd10 {padding:10px !important;}
.pd15 {padding:15px !important;}
.pd20 {padding:20px !important;}
.pt10 {padding-top:10px !important;}
.pt20 {padding-top:20px !important;}
.pt30 {padding-top:30px !important;}
.ptb10 {padding:10px 0}
.ptb15 {padding:25px 0}
.pl00 {padding-left:0 !important;}
.pl05 {padding-left:5px !important;}
.pl10 {padding-left:10px !important;}
.pl20 {padding-left:20px !important;}
.pl30 {padding-left:30px !important;}
/*background color */
.bg_f1 {background:#f4f4f4}
.bg_f2 {background:#f2f2f2}
.bg1 {display:inline-block; padding:1px 2px 0 2px; background:#099edf; margin:0 2px; color:#fff; font-size:13px; line-height:1.2em}
.bg2 {color:#005aab;}
/*width*/
.wd_Tel {width:80px !important; overflow:hidden}
.wd50p {width:50% !important;}
.wd250 {width:250px !important;}
.wd50 {width:50px !important;}
.wd60 {width:60px !important;}
.wd80 {width:80px !important;}
.wd100 {width:100px !important;}
.wd120 {width:120px !important;}
.wd150 {width:150px !important;}
.wd180 {width:180px !important;}
.wd200 {width:200px !important;}
.wd300 {width:300px !important;}
.wd400 {width:400px !important;}
.wd450 {width:450px !important;}
.wd500 {width:500px !important;}
.inp01 {width:50px !important;}
.inp01_1 {width:69px !important;}
.inp02 {width:80px !important;}
.inp03 {width:100px !important;}
.inp04 {width:150px !important;}
.inp05 {width:200px !important;}
.inp06 {width:450px !important;}
.inp00 {width:550px !important;}
.ovh {overflow:hidden;}
/* config input style */
.inputblock {display:block; overflow:hidden; width:100%}
.v_align input {vertical-align:middle;}
.v_alignT {vertical-align:top;}
.readOnlyClass {background-color:#EEF1F7;}
.engOnly {ime-mode:disabled;}
.lineThrough {text-decoration:line-through;}